@font-face {
    font-family: "Inter";
    src:
        Local("Inter"),
        url("/assets/fonts/Inter_var.ttf") format("truetype");
}

html, body {
    height: 100%;
}

body {
    /* background-color: #cbb5a6; */
    background-color: #628c57;
    color: black;
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;

    background-position: 0 0, 6.5pt 6.5pt;
    background-size: 13pt 13pt;

    hyphens: auto;
    text-align: left;
}

h1 {
    margin-top: 10px;
    text-align: left;
    font-weight: 900;
}

h1.bigtitle {
    margin: auto;

    text-align: center;
    font-size: 25pt;
    margin-bottom: 20pt;

    cursor: default;
}

div.nav {
    display: block;
    
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    max-width: 850px;

    text-align: right;
}

a {
    color: #297bff;
}

a:hover {
    color: #265aad;
}

div.sidebar > ul > li > a {
}

div.sidebar {
    z-index: 1;
     /*background: linear-gradient(180deg, royalblue 0%, white 75px, burlywood 79px); */
    background: #fcf2a4;
    overflow-x: hidden;
    height: fit-content;

    padding: 10px;
    padding-top: 20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    width: 350px;

    border: 2px solid brown;
    border-radius: 4px;

    margin: 10px;
}

div.sidebar.hidden {
    display: none;
}

div.stickybox {
    position: sticky;
    top: 0px;
    width: 100%;
    color: grey;
    background-color: white;
}

div.stickybox.sticking {
    border: 1px solid grey;
    border-radius: 5px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

div.stickybox a, div.stickybox button.sidebar_btn, div.stickybox span {
    font-size: 9pt;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
}

button.sidebar_btn { 
    background: none;
    border: none;
    cursor: pointer;
    color: grey;
    text-decoration: underline;
}

div.content {
    padding: 50px;
    /*padding-left: 15px;*/
    padding-top: 30px;
    background-color: white;
    box-sizing: border-box;
    border: 2px solid brown;
    border-top: none;

    flex: 1;
    height: fit-content;

    /* margin-left: 20px; */
    /* margin-right: 20px; */

    margin-left: 5%;
    margin-right: 5%;
}

div.contentInner {
    max-width: 1000px;
    margin: auto;
}

div.container {
    display: flex;
    height: 100%;
}

div.footer {
    margin: auto;
    padding: 20px;
    text-align: center;
}

pre.highlight {
    padding: 20px;
    border-radius: 5px;
    background-color: #faf9f2;
    color: black;
    overflow: scroll;
}

code {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 9pt;
}

ul {
    padding-left: 30px;
}

ul.post_list {
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
}

li.post_list {
    padding: 5px;
    border-bottom: 1pt solid grey;
}

li.post_list:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

li.post_list:last-child {
    border-bottom: none;
}

hr {
    border: none;
    border-top: 1pt solid brown;
}

p > img {
    max-width: 40%;
    display: inline-block;
    margin: 5px;
}

img.icon {
    float: left;
    margin: 0;
    margin-right: 10px;
    width: 110px;
    border: 1px solid brown;
    border-radius: 5px;
}

/* uhhh, i think this was so that when there are three images in a row they
 * go in one row? */
img + img, img:has(+ img) {
    max-width: 30%;
}

img.cardbanner {
    margin-top: 10px;
    width: 100%;
}

p:has(> img) {
    text-align: center;
}

div.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

div.card {
    border: 2px solid #9aaab3;
    background-color: #f7f7f7;
    padding: 15px;
    padding-top: 0;
    overflow-x: hidden;
}

div.card > h2, div.card > h3 {
    margin-top: 0;
    margin-bottom: 5px;
}


@media (max-device-width: 800px) {
    body {
        text-align: justify;
        font-size: 25pt;
    }

    div.container {
        flex-direction: column;
    }

    div.sidebar {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        margin: auto;
        background: #fff79c;
        flex-shrink: 0;
        padding-left: 5%;
        padding-right: 5%;
    }

    div.sidebar > * {
        display: none;
    }

    div.sidebar > h1 {
        display: block;
        margin: auto;

        text-align: center;
        font-size: 30pt;
        margin-bottom: 0;
        margin-top: 2%;

        cursor: default;
    }

    div.sidebar > ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
    }

    div.content {
        padding: 30px;
    }

    code {
        font-size: 12pt;
    }

    div.cardContainer {
        display: flex;
        flex-direction: column;
    }

    div.card {
        padding: 5%;
    }
   
    div.stickybox a, div.stickybox button.sidebar_btn, div.stickybox span {
        font-size: 25pt;
    }
}
