@import url('/assets/css/highlight.css');

body {
    background-color: #90c881;
    font-family: 'Libre Baskerville', serif;
    padding: 20px;
    font-size: smaller;

    background-position: 0 0, 6.5pt 6.5pt;
    background-size: 13pt 13pt;
}

h1 {
    margin-top: 0px;
    text-align: center;
}

h1.bigtitle {
    margin: auto;
    max-width: 800px;
    display: block;

    text-align: right;
    font-size: 40pt;
    font-weight: bold;
    margin-bottom: 10pt;

    color: white;

    -webkit-text-stroke: 1pt black;
}

div.nav {
    display: block;
    
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    max-width: 850px;

    text-align: right;
}

a {
    color: green;
}

a.sitelink {
    margin: 5px;
    margin-left: 0;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    
    color: #a065bf;
    background-color: white;
    
    padding: 2px 4px 2px 4px;
    border-radius: 2pt;
    border: 1pt solid black;
}

a.sitelink.sel {
    color: green;
}

a.sitelink:hover {
    color: white;
    background-color: #a065bf;
}

a.sitelink.sel:hover {
    color: white;
    background-color: green;
}

div.content {
    display: block;
    background-color: white;

    border: 1pt solid black;
    box-shadow: 0 3pt 0 0 black;
    border-radius: 2pt;

    margin: auto;
    max-width: 900px;
    padding: 50px;
    box-sizing: border-box;
    text-align: justify;
}

pre.highlight {
    border-left: 1.25pt solid black;
    border-left-style: dashed;
    padding-left: 10px;
    overflow: scroll;
}

code {
    font-family: 'IBM Plex Mono';
    font-size: 9pt;
}

ul.post_list {
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
}

li.post_list {
    padding: 5px;
    border-bottom: 1pt solid grey;
}

li.post_list:hover {
    background-color: rgba(0, 0, 0, 0.091);
}

li.post_list:last-child {
    border-bottom: none;
}

hr {
    border: none;
    border-top: 1pt dashed black;
}

img {
    max-width: 40%;
    display: inline-block;
    margin: 5px;
}

img + img, img:has(+ img) {
    max-width: 30%;
}

p:has(> img) {
    text-align: center;
}

