<!DOCTYPE html>

<html>
    <head>
        <title>Jacob Garby - {{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/assets/css/style.css">

        <link rel="apple-touch-icon" sizes="180x180" href="/assets/fav/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/fav/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/fav/favicon-16x16.png">

        <script src="/assets/js/sidebar.js">
            
        </script>
    </head>

    <body lang="en-GB">
        <div class="container">
        <div id="sidebar" class="sidebar">
            <h1 class="bigtitle"> Jacob Garby </h1>
            <img class="icon hide_on_mobile" src="/assets/img/just me.jpg" alt="Me at Royal Hackaway 2024">
            <p class="intro hide_on_mobile">
            Hello, welcome to my website!
            I'm a PhD student at Chalmers University, Gothenburg, working in the <a href="https://www.cse.chalmers.se/research/group/dcs/">DCS research group&#x2B00;</a>. At the moment, I'm trying to design parallel algorithms for various types of data processing tasks which can scale better while still gaining high throughput through asynchrony and <a href="https://blogs.qub.ac.uk/relax-dn/">relaxed&#x2B00;</a> semantics!
            </p>
            <hr class="hide_on_mobile"> 
            <h4 class="hide_on_mobile">Links</h4>
            <ul>
                <li><a href="/">Blog (Home)</a></li>
                <li><a href="https://github.com/j4cobgarby/">Github&#x2B00;</a></li>
                <li><a href="/research.html">My Research</a></li>
                <li>Hackathons:</li>
                <ul>
                    <li><a href="/projects.html#hackathons">Projects</a></li>
                    <li><a href="https://devpost.com/j4cobgarby">Devpost portfolio&#x2B00;</a></li>
                </ul>
                <li>Chess:</li>
                <ul>
                    <li><a href="https://lichess.org/@/j4cobgarby">Lichess Profile&#x2B00;</a></li>
                    <li><a href="https://ratings.fide.com/profile/1786520">FIDE Profile&#x2B00;</a/></li>
                </ul>
            </ul>
            <hr>
            <p>
            <span class="hide_on_mobile">If you want, you can contact me at:</span><pre>j4cobgarby --at-- gmail.com</pre>
        </div>
        <div class="content">
        <!-- <div class="stickybox"> -->
        <!--     <a class="" href="/">All Posts</a> -->
        <!--     <span class="divider">-</span> -->
        <!--     <button id="sidebar-toggle" class="sidebar_btn hide_on_mobile" onclick="toggle_sidebar();">Hide sidebar (need js)</button> -->
        <!--     <script> -->
        <!--         init(); -->
        <!--     </script> -->
        <!--     <span class="divider hide_on_mobile">-</span> -->
        <!--     <span>{{page.title}}</span> -->
        <!-- </div> -->
        <div class="contentInner">
            {{ content }}
        </div>
        <div class="footer">
            <a href="#">&UpArrowBar;</a>
        </div>
        </div>
        </div>
    </body>
</html>
