<!DOCTYPE html>

<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap" rel="stylesheet">
        <title>Jacob Garby - {{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>

    <body lang="en-GB">
        <div class="sidebar">
            <h1 class="bigtitle">Jacob Garby</h1>
            <img class="icon" src="/assets/img/just me.jpg" alt="Me at Royal Hackaway 2024">
            <p class="intro">
            Hello, welcome to my website! I'm Jacob, and at the moment I'm a <b>PhD student</b> at Chalmers University, Gothenburg, doing <b>computer things</b>. In particular, I'm trying to speed up various algorithms (SGD, graph algorithms, etc.) with custom runtime systems! &#8230;
            </p>
            <hr> 
            <ul>
                <li><a href="/">Blog</a></li>
                <li><a href="/about_contact.html">Contact Me</a></li>
                <li><a href="/projects.html">Projects</a></li>
                <li><a href="/research.html">My Research</a></li>
            </ul>
            <hr>
            <p>
            &#8230; Aside from that, I also like low level software development (like <b>operating systems</b> and microcontroller programming), graphics programming (visualisations, games, etc.), and network protocols and distributed systems.
            </p><p>
            I also really enjoy going to <b>hackathons</b> (events where you spend 24 hours, with a team, to make whatever project you want). According to <a href="https://devpost.com/j4cobgarby">Devpost</a>, I've been to nine of these (but it's missing at least one). Of all these, my friends and I have won first place three times! They're very fun, you should definitely go if you have the chance.
            </p><p>
            But anyway, there are also some things that I do which don't even involve computer at all! I play guitar, enjoy mechanical keyboards (okay, that one is computer related), really like <b>tea</b>, and enjoy cooking and electronics.
        </div>
        <div class="content">
            {{ content }}
        </div>
    </body>
</html>
